h1{
    text-align: center;
    background-color: blue;
}
h2{
    height: 200px;
    width: 600px;
    float: right;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
h4{
    height:90px;
    width: 500px;
    background-color: burlywood;
    float: left;
    text-align: center;
}
img{
    height: 350px;
    width: 600px;
}
   