h1{
    text-align: center;
    background-color:blue;

}
img{
    background-color:rgba(0, 0, 0, 0.788);
    height: 300px;
    width: 450px;
    padding: 60px;
}
h3{
    width: 1650px;
    height: 550px;
    background-color: white;
    float: left;
    font-size: xx-large;
}
h4{
    width: 850px;
    height: 530px;
    background-color:white;
    float: right;
    font-size:xx-large;
}
p{
    height: 300px;
    width: 790px;
    text-align: center;
    float:left;
    background-color:white;
    font-size: xx-large;
}
body{ 
    font-family: Arial;
}
